#container {
    max-width: 1000px;
    margin: 0 auto;
    font-family: "Hiragino Sans GB", "Helvetica Neue", sans-serif;
    border: 2px solid #333;
    padding: 1em;
}

#text {
    border: 1px solid #333;
    min-height: 500px;
    margin: 1em 0;
}